<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>Student Grade</title>
    <style>
      table {
        width: 100%;

      }
      table, th, td {
        border: 1px solid #bcbcbc;
      }
    </style>
  </head>
  <body>
    <table widtj="300" style="table-layout: fixed">
      <caption>Student Grade</caption>
      <thead>
        <tr>
          <th></th>
          <th>구분</th>
          <th>과목명</th>
          <th>학점</th>
          <th>등급</th>
        </tr>
      </thead>
      <tbody>
        <form action ="/grade", method="POST">
        <tr>
          <th>1</th>
          <td><input type="text" name="division"></td>
          <td><input type="text" name="subject"></td>
          <td><input type="text" name="score"></td>
          <td><input type="text" name="grade"></td>
        </tr>
        <tr>
          <th>2</th>
          <td><input type="text" name="division"></td>
          <td><input type="text" name="subject"></td>
          <td><input type="text" name="score"></td>
          <td><input type="text" name="grade"></td>
        </tr>
        <tr>
          <th>3</th>
          <td><input type="text" name="division"></td>
          <td><input type="text" name="subject"></td>
          <td><input type="text" name="score"></td>
          <td><input type="text" name="grade"></td>
        </tr>
        <tr>
          <th>4</th>
          <td><input type="text" name="division"></td>
          <td><input type="text" name="subject"></td>
          <td><input type="text" name="score"></td>
          <td><input type="text" name="grade"></td>
              </tr>
        <tr>
          <th>5</th>
          <td><input type="text" name="division"></td>
          <td><input type="text" name="subject"></td>
          <td><input type="text" name="score"></td>
          <td><input type="text" name="grade"></td>
        </tr>
        <tr>
          <th>6</th>
          <td><input type="text" name="division"></td>
          <td><input type="text" name="subject"></td>
          <td><input type="text" name="score"></td>
          <td><input type="text" name="grade"></td>
       </tr>
      </tbody>
    </form>
    <input type="submit" value="처음으로">
    </table>
  </body>
</html>

